{% extends "base.html" %}

{%block content%}


<div class="container bg-light">
    <img src="../static/Pictures/_DSC0786.jpg" class="img-center pt-2 rounded-circle" alt="" width="65%">
    <section class="pb-4">
        <h2 class="h1-responsive font-weight-bold text-center my-4">Contact Me</h2>
        <p class="text-center w-responsive mx-auto mb-5">For any bookings question or ideas please leave me a message and I will reply to you as soon as possible</p>

        <div class="row">
            <div class="col-md-9 mb-md-0 mb-5">
                <form id="contact-form" name="contact-form" action="" method="">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="md-form mb-0">
                                {{ form.name(class="form-control", value=name_filler, id="subject") }}
{#                                <input type="text" id="name" name="name" class="form-control">#}
                                <label for="name" class="">Your name</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="md-form mb-0">
                                {{ form.email(class="form-control", value=email_filler, id="email") }}
{#                                <input type="text" id="email" name="email" value="email.ca" class="form-control">#}
                                <label for="email" class="">Your email</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="md-form mb-0">
                                {{ form.subject(class="form-control", id="subject") }}
{#                                <input type="text" id="subject" name="subject" class="form-control">#}
                                <label for="subject" class="">Subject</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-md-12">

                            <div class="md-form">
                                {{ form.message(class="form-control md-textarea", row="2", id="message") }}
{#                                <textarea type="text" id="message" name="message" rows="2" class="form-control md-textarea"></textarea>#}
                                <label for="message">Your message</label>
                            </div>

                        </div>
                    </div>
                    <div class="text-center text-md-left">
                    <span class="">{{ form.send(class="btn btn-primary py-2 px-5 right") }}</span>
                </div>

                </form>


            </div>

            <div class="col-md-3 text-center">
                <ul class="list-unstyled mb-0">
                    <li><i class="fas fa-map-marker-alt fa-2x"></i>
                        <p>Montreal, Canada</p>
                    </li>

                    <li><i class="fas fa-phone mt-4 fa-2x"></i>
                        <p>514-651-2907</p>
                    </li>

                    <li><i class="fas fa-envelope mt-4 fa-2x"></i>
                        <p>andreKA2@gmail.com</p>
                    </li>
                </ul>
            </div>

        </div>

    </section>

</div>

{% endblock %}