{% extends "base.html"%}

{% block content %}


<div class=" container" id="faintColor">
    <div class="row">
        <div class="mt-3 mb-3 col-4">

            <img style="float:left" src="../static/styles/portfolioplaceholder.png" alt="why" class="rounded" width="400" height="380"/>
            
        </div>
        <div class="col-8">
            <div class="aboutMe">
                <h3 class="text-center">About Me</h3>
                <hr>
                <div class="text-justify">
                    I am a software engineering Student in his first year at Concordia University.
                    I like to take pictures and be creative. For my pass time I play a variety of sports.
                    My favorite being basketball. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem delectus, accusantium accusamus assumenda at blanditiis asperiores earum modi harum? Repudiandae doloremque laborum excepturi consectetur deserunt non saepe suscipit blanditiis quibusdam.
                </div>
            </div>
        </div>
    </div>
    <p class="stripped">adafa</p>
</div>




{%endblock %}