{% extends "base.html"%}

{% block content %}


<div class="font container pt-2" id="faintColor">
    <div class="row outset mt-2 mx-1">
        <div class="mt-3 mb-3 text-center col-lg-4 col-xs-12">

            <img src="../static/Pictures/portfolioplaceholder.png" alt="why" class="img-thumbnail limit" width="100%" height="100%"/>
            
        </div>
        <div class="col-lg-8 col-xs-12">
            <div class="mt-xl-5 mt-sm-0 mx-5">
                <h3 class="text-center">About Me</h3>
                <hr class="hr-fade">
                <div class="text-justify">
                    I am a software engineering Student in his first year at Concordia University.
                    I like to take pictures and be creative. For my pass time I play a variety of sports.
                    My favorite being basketball. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem delectus, accusantium accusamus assumenda at blanditiis asperiores earum modi harum? Repudiandae doloremque laborum excepturi consectetur deserunt non saepe suscipit blanditiis quibusdam.
                </div>
            </div>
        </div>
    </div>
    <div class="row inset mt-4 mx-1">
        
        <div class="col-lg-8 col-sm-12 order-last order-lg-first">
            <div class="aboutMe mt-xl-3 mt-sm-0">
                <h3 class="text-center">My Origin</h3>
                <hr class="hr-fade">
                <div class="text-justify">
                   I am born in egypt in 1999. I often go to egypt on vacation to see my familly.
                   I find the cultural difference intriguing and lead to interseting conversations with people that live there
                   Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem delectus, accusantium accusamus assumenda at blanditiis asperiores earum modi harum? Repudiandae doloremque laborum excepturi consectetur deserunt non saepe suscipit blanditiis quibusdam.
                </div>
            </div>
        </div>

            <div class="mt-3 mb-3 text-center col-lg-4 col-sm-12">

                    <img src="../static/Pictures/IMG_20190630_124520074.jpg" alt="why" class="img-thumbnail limit" width="100%" height="100%"/>
            
            </div>
            
    </div>
    <h1 class="text-center p-3 my-3 inset ilb">Sample Image</h1>


    

    <div class="row inset m-2 d-flex justify-content-center">
        

            <div class=" card bg-dark text-white my-1 mx-1" width="70%" height="50%">
                <img class="card-img card-limit m-1" src="../static/Pictures/IMG_1190.JPG" alt="Card image">
                <div class="card-img-overlay">
                    <h5 class="card-title">Sunset</h5>
                </div>

            </div>

            <div class=" card bg-dark text-white my-1 mx-1" width="70%" height="50%">
                <img class="card-img card-limit m-1" src="../static/Pictures/boat.jpg" alt="Card image">
                <div class="card-img-overlay">
                    <h5 class="card-title">objects</h5>
                </div>

            </div>

            <div class=" card bg-dark text-white my-1 mx-1" width="70%" height="50%">
                <img class="card-img card-limit m-1" src="./static/Pictures/DSC_0535.jpg" alt="Card image">
                <div class="card-img-overlay">
                    <h5 class="card-title">Portraits</h5>
                </div>

            </div>

            <div class=" card bg-dark text-white my-1 mx-1 d-flex justify-content-center " width="70%" height="50%">
                <img class="card-img card-limit m-1" src="../static/Pictures/DSC_0333.JPG" alt="Card image">
                <div class="card-img-overlay">
                    <h5 class="card-title">Nature</h5>
                </div>

            </div>
            
            
    </div>
    <div class="hidden" >extends container to footer</div>


</div>





{%endblock %}