{% extends "base.html" %}


{%block content%}

    	<div class="container-fluid font text-center my-3" id="signUpTop">
  			<h1 class="mb-5">LogIn</h1>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <h5 class="text-danger mb-2">{{ message }}</h5>
                    {% endfor %}
                {% endif %}
            {% endwith %}
  			<form action="#" class="limit3 container text-center mt-3" method="POST">
                {{ form.csrf_token }}
                <div class="form-group">
                    {{ form.username.label(class="form-control-label mb-3") }}

                    {% if form.username.errors %}
                        {{ form.username(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.username.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.username(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form.password.label(class="form-control-label mt-3 mb-3") }}

                    {% if form.password.errors %}
                        {{ form.password(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.password(class="form-control form-control-lg mb-4") }}
                    {% endif %}
                </div>
                <span>{{ form.submit(class="btn btn-success mb-5 py-1 px-3 mx-3") }}</span>
                <span><a href="/register" class="btn btn-success mb-5 py-1 px-1 mx-2">Register</a></span>
                <span><a href=".." class="btn btn-danger py-1 px-4 mx-4  mb-5">SKIP</a></span>
  			</form>

		</div>
        <div class="container-fluid mb-5 font text-center limit2">
        </div>

{% endblock %}