{% extends "base.html" %}


{%block content%}

    	<div class="container-fluid font text-center my-3 bg-light limit2" id="signUpTop">
  			<h1 class="mb-5">Sign UP</h1>
  			<form action="#" class="limit3 container text-center mt-3" method="POST">
                {{ form.csrf_token }}
                <div class="form-group">
                    {{ form.name.label(class="form-control-label") }}

                    {% if form.name.errors %}
                        {{ form.name(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.name.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.name(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.email.label(class="form-control-label mt-3") }}

                    {% if form.email.errors %}
                        {{ form.email(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(class="form-control form-control-lg") }}
                    {% endif %}
                </div>


                <div class="form-group">
                    {{ form.password.label(class="form-control-label mt-3") }}

                    {% if form.password.errors %}
                        {{ form.password(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.password(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <span>{{ form.submit(class="btn btn-success py-1 mx-4") }}</span>
                <span><a href="/login" class="btn btn-success py-1 px-4 mx-4">Login</a></span>
                <span><a href=".." class="btn btn-danger py-1 px-4 m-2 mb-5">SKIP</a></span>
  			</form>

		</div>
        <div class="container-fluid mb-5 font text-center limit2">
        <p>
            <h3>Please sign up to get email updates for events and sample images of my latest project.</h3>
            <h4>Your email will be saved in case you want to contact me</h4>
            </p>
        </div>

{% endblock %}